<h1><%= @date.strftime("Funerals for %B %d, %Y") %></h1>
<% if @weather %>
  <h3><%= @weather["description"]%><img src="http://openweathermap.org/img/w/<%=@weather["icon"]%>.png"></h3>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Hour</th>
        <th>Slot</th>
      </tr>
    </thead>
    <tbody>
      <% @schedule.each do |hour| %>
      <tr>
        <td><%= hour.first %>:00</td>
        <% if hour.second %>
            <td>cat name:<%= hour.second.cat_name%></td>
          <% else %>
            <% if @date >= Time.now  %>
              <td><%= link_to "Book", new_funeral_path(date: @date, hour: hour.first)%></td>
            <% else %>
              <td></td>
            <% end %>
        <% end %>

      </tr>
      <% end %>

    </tbody>
  </table>
